.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.footer__links {
  align-content: center;
  display: flex;
  gap: 40px;
  position: relative;
}

@media screen and (min-width: $tablet-breakpoint) {
  .footer__content {
    padding: 55px;
  }

  .footer__links::before {
    content: "";
    background: #303030;
    height: 1px;
    width: 60px;
    display: inline-flex;
    position: absolute;
    top: calc(50% + 2px);
    left: -100px;
  }
}
