.motto {
  &__cards {
    margin-top: 40px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .motto__cards {
    justify-content: flex-start;
  }
}
