/* Section Generic */
.section {
  background: #363636;
  color: var(--text-color);
  letter-spacing: 0.02em;
  padding: 130px 55px;

  &--hero-section {
    background: transparent;
    margin-top: 204px;
    padding: 0;
  }

  &--light .button--book-a-service {
    color: #303030;

    &:focus,
    &:hover {
      color: #ffffff;
    }
  }
}

main .button--book-a-service {
  margin-left: 0;
}

.section__heading {
  margin-top: 20px;
  font-size: 42px;
  line-height: 49.31px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.section__heading + * {
  margin-top: 20px;
}

.section address {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.section--light {
  background: #ffffff;
  color: #555555;

  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.section__sub-heading {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--sub-heading-color);

  &::before {
    content: "";
    display: inline-block;
    background: var(--sub-heading-color);
    height: 1px;
    width: 60px;
    margin-right: 20px;
    vertical-align: middle;
  }
}

.section--light h1,
.section--light .section__heading {
  color: var(--heading-alternate-color);
}

.section--light .section__sub-heading {
  color: var(--heading-alternate-color);

  &::before {
    background: var(--heading-alternate-color);
  }
}

.section__description > * + * {
  margin-top: 20px;
}

.section--grey-bg {
  background: #f7f7f7;
}

.section--with-two-columns {
  display: flex;
}

.section--with-two-columns > *:nth-child(2) {
  margin-left: 64px;
}

.section--with-two-columns > * {
  flex: 0 1 50%;
}

.section-images {
  display: flex;
}

.section-images img + img {
  margin-left: 30px;
}

.section--from-contacts {
  background: url("../images/contact-section-bg.webp");
  flex: 1 0 auto;
  padding-left: 100px;
}

.section--from-booking {
  background: transparent;
  flex: 1 0 auto;
}
