.container {
  margin: 0 auto;
  max-width: 480px; // Mobile First, deci latimea maxima pana ajunge la maximul pentru mobil */
}

.container--header {
  background: #363636;
  display: flex;
}

.container--booking-and-contacts {
  display: flex;
  flex-direction: column;
}

.centered-content {
  display: grid;
  justify-content: center;
  align-content: center;
}

@media screen and (min-width: $mobile-breakpoint) {
  .container {
    max-width: 768px; /* Maximul pentru tableta */
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .container {
    max-width: 1200px; /* Maximul pentru desktop */
  }

  .container--booking-and-contacts {
    flex-direction: row;
  }
}
