.container {
  margin: 0 auto;
  width: 480px;
}

.container--header {
  background: #363636;
  display: flex;
}

.container--booking-and-contacts {
  display: flex;
}

.centered-content {
  display: grid;
  justify-content: center;
  align-content: center;
}

@media screen and (min-width: $mobile-breakpoint) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .container {
    width: 1200px;
  }
}
