$dark-text: #303030;
$white-text: #fff;
$accent-color: #ff6c00;

/* Responsive Breakpoints */
$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;

:root {
  --accent-color: #{$accent-color};
  --text-active: #{$accent-color};

  /* Links */
  --link-color: #{$white-text};
  --link-color--hover: #f0883e;
  --link-color--active: #{$accent-color};
  --link-dark-text-color: #{$dark-text};
  --link-dark-text-color--hover: #{$accent-color};

  --link-from-aside-color: #{$dark-text};
  --link-from-aside-color--hover: #{$accent-color};
  --link-address-color: #9da4bd;
  --link-address-color--hover: #{$white-text};
  --link-footer-color: #{$dark-text};
  --link-footer-color--hover: #f0883e;
  --link-header-mobile: #{$dark-text};

  --from-aside-icon-color: #{$dark-text};
  --from-aside-icon--hover-color: #{$accent-color};
  --text-font-family: "Open Sans", sans-serif;
  --heading-font-family: "Raleway", sans-serif;
  --text-color: #9da4bd;
  --text-alternate-color: #{$dark-text};
  --form-color: #{$dark-text};
  --form-color--focused: #{$accent-color};
  --form-color--light: rgba(157, 164, 189, 0.4);
  --form-color--focused--light: #{$white-text};
  --heading-color: #{$white-text};
  --heading-alternate-color: #{$dark-text};
  --sub-heading-color: #9da4bd99;

  --modal-bg: #fff;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
